<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<script src="js/styles.js"></script>
		<script src="js/main.js"></script>
	</head>
<body>

<div id="kn-navbar">

</div>

<%# if(session.loggedin) %>
<% if(true) {%>
	<a href="/logout">logout</a>
<% } %>